<div class="container">
    <div class="conteudo">
        <div class="fundo1">
            <img src="../../../assets/imagens/fundo1.png" alt="" class="fundo">
        </div>
    
        <div class="fundo2">
            <img src="../../../assets/imagens/fundo2.png" alt="" class="fundo">
        </div>

        <div class="fundo3">
            <img src="../../../assets/imagens/fundo3.png" alt="" class="fundo">
        </div>

        <div class="fundo4">
            <img src="../../../assets/imagens/fundo4.png" alt="" class="fundo">
        </div>

        <div class="fundo5">
            <img src="../../../assets/imagens/fundo5.png" alt="" class="fundo">
        </div>

        <div class="home">
            <div class="logo">
                <img src="assets/imagens/nextech.png" alt="">
            </div>
    
            <div class="entrega">
                <button> <div></div> Entregamos em até 30 dias úteis</button>
            </div>
    
            <div class="titulo-principal">
                <h1>Desenvolvemos sites <br> impactantes para startups <br> e empresas de tecnologia.</h1>
                <p>Receba contatos através de tráfego pago e deixe que a nossas páginas <br> façam todo o trabalho de vender por você!</p>
            </div>
    
            <div class="falar">
                <button>Falar com especialista</button>
            </div>

            <div class="icones">
                <img src="../../../assets/imagens/icones.png" alt="">
                <p>+ de 100 parceiros pelo Brasil</p>
            </div>
        </div>
    </div>
    
</div>