* {
    padding: 0;
    margin: 0;
}

.logo {
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative; /* Adicione isso se ainda não estiver definido */
    z-index: 3; /* Garanta que esteja acima das outras camadas */
}

.entrega button {
    border: 1px solid #7000FF;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 40px;
    position: relative; /* Adicione isso para garantir que o botão esteja no contexto certo */
    z-index: 3; /* Garanta que esteja acima das imagens de fundo */
}

.entrega div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7000FF;
}

.entrega button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.titulo-principal h1 {
    color: white;
    font-size: 64px; /* Tamanho padrão para resoluções grandes */
    text-align: center;
    line-height: 69.12px;
    font-weight: 700;
    position: relative; /* Garanta que o título esteja no contexto certo */
    z-index: 1000; /* Garante que o texto esteja acima das imagens e do fundo */
}

.titulo-principal p {
    color: #A1A1A1;
    font-size: 16px; /* Tamanho padrão para resoluções grandes */
    text-align: center;
    position: relative; /* Garanta que o parágrafo esteja no contexto certo */
    z-index: 1000; /* Garante que o texto esteja acima das imagens e do fundo */
}

.container {
    background-image: url('../../../assets/imagens/bola_direita.png');
    background-repeat: no-repeat;
    background-position: top right 10px; /* Mova a imagem 10 pixels para a esquerda */

    background-size: 580px;
    position: relative; /* Adicione isso para garantir que o container tenha um contexto adequado */
    z-index: 2; /* Garanta que o container esteja atrás dos textos e imagens de fundo */
}

.falar button {
    background: #7000FF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 13px 26px;
    line-height: 19.2px;
    font-size: 16px; /* Tamanho padrão para botões */
    position: relative; /* Adicione isso para garantir que o botão esteja no contexto certo */
    z-index: 3; /* Garanta que esteja acima das imagens de fundo */
    margin: 30px 0;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 740px;
    position: relative;
    background-image: url('../../../assets/imagens/fundo_total.png');
    background-position: center;
    z-index: 1; /* Garanta que a camada de fundo esteja atrás das outras */
}

.fundo1, .fundo2, .fundo3, .fundo4, .fundo5 {
    position: absolute;
    z-index: 1; /* Garanta que as imagens de fundo estejam atrás dos textos */
}

.fundo1 {
    border-radius: 24px 0px 0px 0px;
}

.fundo2 {
    top: 328px;
    left: 50px;
}

.fundo3 {
    right: 0;
}

.fundo4 {
    top: 328px;
    right: 195px;
}

.fundo5 {
    top: 259px;
    right: 0;
}

.icones {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--width);
    margin: auto;
}

.equipe h1{
    color: white;
}

.card{
    margin: 31px 0;
    border: 0.5px solid #222222;
    padding: 32px 75px 32px 32px;
    border-radius: 14px;
    width: 384px;
}

.card img{
    margin-bottom: 18px;
}

.card h1{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;

}


.card p{
    color: #A1A1A1;
    line-height: 19.2px;
    font-size: 16px;
    margin-top: 18px;
}

.cards-equipe{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.diferencial{
    color: #595959;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 124px;
}

.projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 124px;
    max-width: var(--width);
    margin: auto;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

#projeto1{
    margin-bottom: 43px;
}

.texto-projetos h1{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-projetos p{
    color: #A1A1A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagens-projeto{
    padding: 30px 140px 0px 140px;
    background: rgb(16 17 21 / 55%);
}

.texto-linha{
    display: flex;
}

.texto-linha p{
    color: #A1A1A1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.meio{
    margin-left: 60px;
    margin-right: 55px;

}

.inspirese{
    margin-top: 18px;
    margin-bottom: 20px;
}

.linha{
    margin-bottom: 18px;
}

.falar-projeto{
    border-radius: 112.195px;
    background: #7000FF;
    padding: 13.463px 26.927px;
    border: none;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.conteudo-por-equipe {
    background-image: url('../../../assets/imagens/bola_esquerda.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    z-index: 2; 
    padding-bottom: 165px;
}


.etapas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: var(--width);
    margin: auto;
    margin-top: 124px;
}

.etapas img{
    width: 100%;
    max-width: 1300px;
}

.etapas-container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-bottom: 211px;
    margin-top: 124px;
}

.linha-curva {
    width: 100%;
    height: auto;
}

.stape {
    position: absolute;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stape1 {
    top: -24px;
    left: 9%;
}

.stape2 {
    top: 90px;
    left: 27%;
}

.stape3 {
    top: -24px;
    left: 49%;
}

.stape4 {
    top: 90px;
    left: 70%;
}

.stape h1{
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 91px;
}

.stape h2{
    color: #7000FF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.stape p{
    color: #B3B3B3;
    text-align: center;
    font-size: 15.666px;
    font-style: normal;
    font-weight: 250;
    line-height: 18.473px; /* 117.917% */
    width: 195px;
    margin-top: 13px;
}

.moderno{
    display: flex;
    max-width: var(--width);
    align-items: center;
    margin: auto;
    justify-content: center;
}

.conteudo-moderno{
    background-image: url('../../../assets/imagens/bola_esquerda.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 500px;
    position: relative;
    z-index: 2; 
}

.texto-pc{
    max-width: 525px;
}

.texto-pc h1{
    color: #FFF;
    max-width: 505px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.texto-pc p{
    color: #A1A1A1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Media queries para textos responsivos */

@media (max-width: 1780px) {
    .fundo2{
        opacity: 0.4;
    }

    .fundo4{
        opacity: 0.4;
    }
}

@media (max-width: 1400px) {
    .fundo3{
        opacity: 0.4;
    }
}

@media (max-width: 1200px) {
    .titulo-principal h1 {
        font-size: 56px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .titulo-principal p {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .falar button {
        font-size: 14px; /* Ajusta o tamanho da fonte para botões */
    }
}

@media (max-width: 900px) {
    .titulo-principal h1 {
        font-size: 48px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .titulo-principal p {
        font-size: 12px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .falar button {
        font-size: 12px; /* Ajusta o tamanho da fonte para botões */
    }
}

@media (max-width: 600px) {
    .titulo-principal h1 {
        font-size: 36px; /* Ajusta o tamanho da fonte para dispositivos móveis */
    }

    .titulo-principal p {
        font-size: 10px; /* Ajusta o tamanho da fonte para dispositivos móveis */
    }

    .falar button {
        font-size: 10px; /* Ajusta o tamanho da fonte para botões */
    }
}

@media (max-width: 400px) {
    .titulo-principal h1 {
        font-size: 28px; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .titulo-principal p {
        font-size: 8px; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .falar button {
        font-size: 8px; /* Ajusta o tamanho da fonte para botões */
    }
}


